{% extends 'templates/base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
<section id="aboutme" class="main">
    <div class="container">
        <header class="header">
            <h1 class="title">About me</h1>
        </header>
        <div class="content">
            <p><span class="fbold">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit efficitur venenatis. Maecenas quis convallis mi. Vivamus in eros nec urna consequat dictum. Nam semper risus ac ultricies cursus. Nulla rhoncus lacinia leo nec pharetra. Donec tempus, ligula et auctor ultrices, nibh felis auctor lectus, et hendrerit nunc turpis vitae diam.</p>
            <p>Donec purus risus, consequat quis tortor quis, pulvinar sodales sem. Fusce eget suscipit sapien. Vivamus vel viverra lacus. Proin eros sapien, tincidunt ac aliquam eu, suscipit in quam. Aenean et ultrices enim. Donec lobortis pulvinar gravida. Curabitur euismod vel erat pulvinar fermentum.</p>
            <p>Aenean lorem enim, lacinia in viverra sit amet, faucibus eu augue. Integer feugiat libero vitae orci gravida, ac accumsan est rutrum. Morbi imperdiet dictum imperdiet. Praesent iaculis, tellus a laoreet convallis, metus nisl fermentum tellus, vel semper mi magna quis diam. </p>
        </div>
    </div>
</section>
{% endblock %}
