{% extends 'templates/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<section id="posts" class="main">
		<div class="container">
			<header class="header">
				<h1 class="title">Posts</h1>
			</header>
			<div class="content">

				<div class="posts-search tcenter p20-bottom">
					<form action="" method="get">
						<input type="text" name="q" placeholder="post search" value="{{ request.GET.q }}">
						<button class="btn">Search</button>
					</form>
				</div>
				<ul class="posts-list">
					{% if content %}
					{% for ins in content %}
					<li>
						<span class="publish-date">{{ ins.publish | date:'d M, Y' }}</span>
						<a href="{% url 'posts:detail' ins.slug %}">{{ ins.title }}</a>
					</li>
					{% endfor %}
					{% endif %}
				</ul>
				<ul class="pagination tcenter p20-top">
					{% if content.has_previous %}<li class="prev">&laquo; <a href="?page={{ content.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a></li> {% endif %}
					<li>{{ content.number }} of {{ content.paginator.num_pages }}</li>
					{% if content.has_next %}<li class="next"><a href="?page={{ content.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a> &raquo;</li>{% endif %}
				</ul>
			</div>
		</div>
	</section>
{% endblock %}